.App {
  text-align: center;
  display: grid;
  grid-template-columns:  repeat(8, [col] 1fr );
  grid-template-rows: repeat(11, [row] 1fr );
  grid-gap: 10px;
  background-color: #FBFEF9;
  height: 100vh
}

.table {
  background-color: #048ba8;
  border: 2px solid #5B616A;
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
  border-bottom-left-radius: 35vw;
  border-bottom-right-radius: 35vw;
  grid-column: 2 / 8;
  grid-row: row 2 / 10; 
}

.cardImage {
  height: 20vh;
}

.imageContainer {
  display: inline-flex;
}

.action-button-container {
  background-color: #e0e0e2;
  border: 1px solid #fa9f42;
  border-radius: 0vw;
  grid-column: 2 / 8;
  grid-row: 10; 
}

.table-message-display {
  grid-column: 2 / 8;
  grid-row: 10; 
}

.info-centre {
  grid-column: 2 / 8;
  grid-row: 11; 
}

.dealer-hand {
  grid-column: 4;
  grid-row: 2; 
}

.player-hands {
  grid-column: 4 / 5;
  grid-row: 2;
  padding: 5px;
  margin: 10px;
}

.btn {
  width: 17vw;
  height: 7vh;
  padding: 10px;
  margin: .5vh;
  font-size: 1.25rem;
  border-radius: 7px;
  box-shadow: 2px 5px 7px 0 #837e7a;
  vertical-align: center;
}

.btn-hit {
  background-color: #30638e;
  border: 1px solid #30638e;
  color: #e0e0e2
}

.btn-hit:hover {
  background-color: #4f86b3fa;
  border: 1px solid #4f86b3fa;
}

.btn-stand {
  background-color: #d1495b;
  border: 1px solid #d1495b;
  color: #e0e0e2
}

.btn-stand:hover {
  background-color: #ce7c87;
  border: 1px solid #ce7c87;
  color: #e0e0e2
}

.btn-split {
  background-color: #edae49;
  border: 1px solid #edae49;
  color: #262626
}

.btn-split:hover {
  background-color: #e0bc81;
  border: 1px solid #e0bc81;
  color: #262626
}

.btn-double-down {
  background-color: #A23B72;
  border: 1px solid #A23B72;
  color: #e0e0e2
}

.btn-double-down:hover {
  background-color: #ce84ab;
  border: 1px solid #ce84ab;
  color: #e0e0e2
}

.btn:disabled {
  background-color: #b6babb;
  border: 1px solid #b6babb;
  color: #e0e0e2
}

.bet-btn {
  margin-top: 0.2vw;
  width: 7vh;
  height: 7vh;
  margin: .5vh;
  font-size: 1.5rem;
  border-radius: 7px;
  box-shadow: 2px 5px 7px 0 #837e7a;
  vertical-align: center;
}

.lower-bet {
  background-color: #d1495b;
  border: 1px solid #d1495b;
  color: #e0e0e2
}

.lower-bet:hover {
  background-color: #ce7c87;
  border: 1px solid #ce7c87;
  color: #e0e0e2
}

.lower-bet:disabled {
  background-color: #ce7c87;
  border: 1px solid #ce7c87;
  color: #e0e0e2
}

.increase-bet {
  background-color: #28AFB0;
  border: 1px solid #28AFB0;
  color: #e0e0e2
}

.increase-bet:hover {
  background-color: #82cecd;
  border: 1px solid #82cecd;
  color: #e0e0e2
}

.increase-bet:disabled {
  background-color: #82cecd;
  border: 1px solid #82cecd;
  color: #e0e0e2
}

.bet-amount {
  display: inline-block;
  position: relative;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: -100px;
  font-size: 3rem;
  color: #048ba8
}

.make-bet {
  width: 17vw;
  height: 7vh;
  margin: .5vh;
  font-size: 1.5rem;
  border-radius: 7px;
  box-shadow: 2px 5px 7px 0 #837e7a;
  vertical-align: center;
  background-color: #048ba8;
  border: 1px solid #048ba8;
  color: #e0e0e2
}

.make-bet:hover {
  background-color: #7eb7c4;
  border: 1px solid #7eb7c4;
  color: #e0e0e2
}

.new-match {
  background-color: #EA526F;
  border: 1px solid #EA526F;
  color: #e0e0e2
}

.new-match:hover {
  background-color: #ca8f99;
  border: 1px solid #ca8f99;
  color: #e0e0e2
}

.score-display {
  display: inline-block;
  margin: 5px;
  font-size: 2rem;
}

.score-valid {
  color: #99C24D;
}

.score-neutral {
  color: #F18F01;
}

.score-invalid {
  color: #F45B69;
}

h1 {
  color: #BED8D4
}


